$cr-hero-container-height: 70vh;

.cr-hero {
    position: relative;
    //background-color: #666666;
    background-image: -webkit-linear-gradient(-410deg, #455A64 20%, #607D8B 95%);

    min-height: calc(#{$cr-hero-container-height} - #{$layout-mobile-header-height});
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: $grid-desktop-breakpoint) {
        min-height: calc(#{$cr-hero-container-height} - #{$layout-desktop-header-height});
    }
}

.cr-hero__text {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 60px;
    line-height: 1em;

    > p {
        font-size: 24px;
    }
}

.cr-hero__text--bottom {
    bottom: 20%;
    position: absolute;
    left: 0;
    right: 0;
}

.cr-hero__button {
    margin-top: 30px;
}

.cr-hero__next-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
}